#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
  }
  
  #status {
    width: 286px;
    height: 200px;
    position: absolute;
    left: 44%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    /* path to your loading animation */
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
  }
#intro{
    /* background-image: url("../images/bg.jpg"); */
    background-image: url("../images/luca-bravo-9l_326FISzk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}
#code{
    color: #17a2b8;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    min-height: 800px;
}
.btn{
    border:solid 2px white;
    background-color: transparent;
}
button a {
    color: white;
    text-decoration: none;
    
}
button a:hover {
    color: white;
    text-decoration: none; 
}
#about{
    background-color: #dadada!important;
}
#pic{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#proj{
    color: white;
}
.bg-light {
    background-color: #343a40!important;
    color:white
}
.tech{
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
#education{
    
    background-color: #dadada!important;
    /* color:white; */
    padding-bottom: 50px;
}

svg{
    width:30px;
}
.git,.email{
    color: black
}
#contact{
    background-color: #dadada!important;
    text-align: center;
}
.bg-info {
    background-color: #17a2b8!important;
}
html {
    scroll-behavior: smooth;
  }
@media (min-width: 320px) and (max-width: 425px){
    .table{
      
        font-size: .5rem;
    }
}
.ak{
    font-family: cursive;
    font-size:3rem
}
#des{
    font-size:1.5rem
}
a {
    text-decoration: none;
}
.cv {
    color: #f8f9fa;
    background-color: #212529;
    border-color: #f8f9fa;
}
.cv:hover {
    color: #f8f9fa;

}
#me{
    font-size: 1.2rem;
    font-family: inherit;
}
@media (min-width: 768px){
#pic {
    border-radius: 70%;
    width: 225px;
    height: 226px;
}
}
@media (min-width: 576px){
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}
.img-fluid {
    margin-top: 15px;
    /* margin-left: 45px; */
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.lang{
    font-size: 1.1rem;
    font-weight: 400;
}
/*preloader*/
h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
  }